input[type="text"] {
     display: block;
     padding: 15px;
     margin: 16px;
 }
button {
    padding: 10px;
    margin: 16px;
}

.form__register {
    margin: auto;
    max-width: 500px;
}
h1 {
    text-align: center;
}