.formDangNhapSv {
    max-width: 500px;
    margin: auto;
    margin-top: 50px;
    background: #fff;
    display: block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 8px 6px 16px 0px #0000005c;
}

body {
    background: #d6bfbf1a;
}

input {
    display: block;
    width: 90%;
    padding: 10px;
    margin: 25px auto;
    border-radius: 5px;
    outline: none;
    border: 1px solid #ccc;
}

form {
    padding-top: 25px;
}

button {
    display: block;
    width: 20%;
    padding: 5px 10px;
    margin: 25px auto;
    border-radius: 5px;
    outline: none;
    background: #efe3e3;
    border: 1px solid #ccc;
    color: #542a2a;
    font-weight: bold;
}

.formNhapThongTinSv {
    max-width: 500px;
    margin: auto;
    margin-top: 50px;
    background: #fff;
    display: block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 8px 6px 16px 0px #0000005c;
}
.container {
    max-width: 800px;
    margin: auto;
}