.form__register {
    max-width: 500px;
    margin: auto;
    margin-top: 50px;
    background: #fff;
    display: block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 8px 6px 16px 0px #0000005c;
}

h1 {
    text-align: center;
    background: #00ffe7;
    padding: 24px 0;
    margin-top: 0px;
    border-radius: 10px 10px 0 0;
}
input {
    display: block;
    width: 90%;
    padding: 10px;
    margin: 25px auto;
    border-radius: 5px;
    outline: none;
    border: 1px solid #ccc;
}
button {
    display: block;
    width: 30%;
    padding: 10px 10px;
    margin: 25px auto;
    border-radius: 5px;
    outline: none;
    background: #00ffe7;
    border: 1px solid #ccc;
    color: #542a2a;
    font-weight: bold;
}
p {
    margin-left: 15px;
    margin-bottom: -25px;
}
span {display: block;margin: 15px;margin-top: -25px;}
