.giaiptbac2 {
    width: 500px;
    margin: auto;
    text-align: center;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 4px 14px 20px 0px #0a0c0ad9;
    border-radius: 4px;
    margin-top: 100px;
}

input {
    display: block;
    padding: 5px;
    margin-bottom: 10px;
    width: 30%;
}

button {
    position: absolute;
    margin: -84px -61px;
    padding: 10px;
}

form {
    margin-bottom: 38px;
    margin-left: 45px;
}